.quotes_container {
  .quotes_search {
    display: flex;
    flex-direction: column;

    input {
      border: solid #3d3d3d 1px;
      border-radius: 20px;
      margin-bottom: 20px;
      max-width: 500px;
    }
  }
  .quotes {
    display: table;
    width: 100%;
    overflow-y: hidden;
    border-top: 1px solid rgb(230, 230, 230);
    overflow-x: auto;
    max-width: 90vw;

    thead {
      tr {
        display: table-row;
        background: rgb(255, 255, 255);
        text-align: left;
        td {
          font-size: 0.875rem;
          line-height: 1.42857;
          letter-spacing: -0.0009em;
          display: table-cell;
          border-bottom: 1px solid rgb(221, 221, 221);
          vertical-align: middle;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          height: 48px;
          min-width: 15%;
          max-width: 15%;
          width: 15%;
        }
        .quotes_date {
          cursor: pointer;
          p {
            display: flex;
          }
        }
      }
    }

    tbody {
      display: table-row-group;
      tr {
        display: table-row;
        background: rgb(255, 255, 255);
        text-align: left;
        cursor: pointer;
        td {
          font-size: 0.875rem;
          line-height: 1.42857;
          letter-spacing: -0.0009em;
          display: table-cell;
          border-bottom: 1px solid rgb(221, 221, 221);
          vertical-align: middle;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          height: 48px;
          min-width: 15%;
          max-width: 15%;
          width: 15%;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .quotes {
      display: block;
      overflow-x: auto;
      max-width: 90vw;
    }
  }
}
