.modal_trigger_newquote {
  background-color: #912a2a;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  color: #f8f8f8;
  margin-bottom: 30px;
  outline: none;
}

.modal_trigger_infoQuotes {
  background-color: transparent;
  padding: 0;
  width: 40px;
  min-width: auto;
  outline: none;
  overflow: auto;
}

.modal_trigger_infoQuotes::after {
  content: url('./edit.svg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_trigger_infoQuotes:hover::before {
  position: absolute;
  z-index: 2;
  font-size: 12px;
}

@media only screen and (max-width: 575px) {
  .modal_trigger_newquote {
    padding: 0px 10px;
    font-size: 13px;
  }

  .modal_trigger_infoQuotes {
    margin: 0 auto;
    display: flex;
  }
  .modal_trigger_infoServices {
    margin: 0 auto;
    display: flex;
  }
}


.modal_trigger_infoServices {
  background-color: transparent;
  padding: 0;
  width: 40px;
  min-width: auto;
  outline: none;
  overflow: auto;
}

.modal_trigger_infoServices::after {
  content: url('./edit.svg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_trigger_infoServices:hover::before {
  position: absolute;
  z-index: 2;
  font-size: 12px;
}