.header {
  display: flex;
  width: 100%;
  padding: 0.7rem 1rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #282929;
  height: 70px;
  opacity: 85%;

  .logo {
    height: 20px;
    @media screen and (min-width: 1024px) {
      height: 50px;
    }
  }

  &_links {
    display: block;
  }

}

.header_logout {
  color: #912929;
}