.footer {
  min-height: 70px;
  padding: 10px;
  background-color: #282929;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
  }
}
